# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
*.pid
*.seed
*.pid.lock

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional yarn cache directory
.yarn-cache

# Optional repl history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.test
.env.development
.env.production
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache

# yarn v2
.yarn/*
!.yarn/releases
!.yarn/installed/*.cjs
!.yarn/patches

# yarn v3
.yarn/cache

# vercel
.vercel
.next

dist

*.tgz